.weather-app-wrapper {
    /* background-color: red; */
    /* border: 2px solid black; */
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/771883/pexels-photo-771883.jpeg?cs=srgb&dl=pexels-reynaldo-brigworkz-brigantty-771883.jpg&fm=jpg');

    /* Set background properties */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;

}